*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.screen{
    width: 400px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.calc-button-row{
    width: 400px;
    display: flex;
    height: 100px;
}

button{
    width: 100%;
    font-size: 30px;
    background-color: rgba(119, 111, 111, 0.356);
    border: 1px solid black;
    cursor:pointer;
}

button:active{
    background-color: rgba(169, 158, 158, 0.356);
}

.double{
    width: 200%;
}

.triple{
    width: 300%;
}

.calc-button-row button:last-child{
    background-color: rgb(237, 162, 22);
}
.calc-button-row button:last-child:active{
    background-color: rgba(244, 193, 99, 0.862);
}